@import "vars"


/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px)
  .header__contact
    margin-top: 55px
    margin-bottom: 0
    
  .header__main
    position: fixed
    top: 0
    height: 55px
    padding-top: 0
    border-bottom: 1px solid $greyLight
    z-index: 100
  
  .header .icon-logo
    width: 79px
    padding-right: 0
    font-size: 42px
    
  .header__wrap
    padding: 0
    
  .header__logo,
  .header__main--fixed .header__logo
    margin-top: 5px
    padding-right: 0

  .header__title
    height: 32px
    font-size: 26px
  
  .header__subheader
    margin-top: -10px
    font-size: 15px
    
  .header__menu
    text-align: center
    font-size: 15px
    
  .header__item + li:before
    margin: 0 2px
  
  .header__consultation
    margin-left: 0
  
    .button
      font-size: 14px
      
      
  .header__banner
    height: 400px
    
  .header__banner-title
    font-size: 40px
    
  .header__banner-text
    font-size: 25px
    
  .button--big
    font-size: 20px
  
  /*---- ABOUT US ----*/

  .about-us
    padding-top: 60px
    padding-bottom: 90px
  
  .about-us__shell
    padding: 0
    
  /*---- APPROCH ----*/

  .approch__step
    margin-top: 20px
    
  .approch__mark
    display: none
    
  .approch__picture
    overflow: hidden
    
  .approch__check
    padding: 3% 3% 0 3%
    
  /*---- WORK ----*/
  /*---- FEEDBACK ----*/
  
  .feedback__form
    padding: 1.7% 3%
    
  .feedback__shell
    margin-top: 85px
    
  .feedback__shell::before
    display: none

  /*---- ROACH ----*/
  

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  /*Disable Animation on Mobile Devices*/
  .animated
    /*CSS transitions*/
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    /*CSS transforms*/
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    /*CSS animations*/
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important
    
    
  .hamburger
    display: inline-block

  #mobile-menu,
  .site-overlay
    display: inline-block
  
  .header__main
    .header__menu,
    .header__consultation
       display: none
  
    .header__logo
      left: 27%
      
  /*---- ABOUT US ----*/

  .about-us
    padding-top: 20px
    padding-bottom: 60px
    
  .about-us__wrap
    margin-top: 15px
    
  .about-us__img
    zoom: .8
      
  /*---- APPROCH ----*/

  .approch,
  .work,
  .feedback,
  .roach
    padding-top: 40px
    padding-bottom: 60px
    
  .approch__picture
    float: left !important
  
  .approch__step .approch__check
    padding: 1% 2% 0
    text-align: left !important
    
  /*---- WORK ----*/
  
  .work__container
    margin-top: 20px
    
  .work__project--right
    .work__link
      right: 0
    
    .work__img-wrap
      float: left
    
  .work__link
    padding-top: 4%
    
  .work__img-wrap
    height: 165px
  
  .work__name
    margin-top: 5%
    font-size: 20px

  /*---- FEEDBACK ----*/
  .feedback .icon-arrow-circle,
  .feedback__close-button
    display: none
    
  .feedback__form
    padding: 0% 1%
    
  .feedback__shell
    margin-top: 40px
    border-radius: 0
    
  .feedback__form .button
    margin-top: 20px
    margin-bottom: 25px
    
  /*---- ROACH ----*/
  .roach__input
    width: 98%

  /*---- FOOTER ----*/
  .footer
    padding: 0
    
  .footer__text
    margin: 5px 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header
    .header__contact
      height: 30px
    
    .header__feedback
      float: left
    
    .icon-facebook
      width: 23px
      height: 23px
      margin-top: 3px
      margin-right: 5px
      padding: 3px
    
    .header__mail
      padding: 3px 5px 2px 7px
    
    .header__phone
      float: left
      padding: 4px 0px 0px 5px
      border-right: 0
      border-left: 1px solid #e3e3e3
  
  .header__main
    height: 42px
    
    .header__logo
      float: right
      left: -12%
  
  .header__banner
    height: 300px

  .header__banner-title
    font-size: 35px
    font-weight: 400
  
  .header__banner-text
    margin-top: 5px
    font-size: 20px
    line-height: 1
  
  .button--big
    font-size: 16px
    
  .hamburger
    padding: 10px
    
  .header .icon-logo
    width: 67px
    font-size: 33px
    
  .header__title
    height: 32px
    font-size: 22px
  
  .header__subheader
    margin-top: -17px
    font-size: 15px
    
  .header__contact
    margin-top: 42px
    
  /*---- ABOUT US ----*/
  /*---- APPROCH ----*/
  
  .description__title
    font-size: 27px
    font-weight: 500
    
  .description__subtitle
    font-size: 18px
  
  .approch__picture
    display: none
    
  .approch__check
    width: 100%
    padding: 0 10px

  /*---- WORK ----*/
  /*---- FEEDBACK ----*/
  .feedback__input,
  .roach__input
    height: 40px
    padding: 4px 10px
    
  .button
    font-size: 14px

  /*---- ROACH ----*/
  .roach__text
    margin: 7px 0
    
  .roach__social-link
    width: 40px
    height: 40px
    padding-top: 0
    
  .roach__form
    margin-top: 0
    
  .roach__form .button
    margin-top: 20px
  

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .header
    .icon-mobile,
    .icon-mail
      display: none

