[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
  color: #dd2a24;
}
.icon-arrow-circle:before {
  content: "\e901";
}
.icon-close-circle:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-google:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-mobile:before {
  content: "\e907";
}
.icon-plaine:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
